h1{
  color : green;
  border-bottom : 5px dashed;
}
h2{
  color: green;
  font-style : italic;
}
.box{
  border:5px solid purple;
  padding : 5px;
  background-color:grey;
}

a:hover{
  color:yellow;
}
